# =========================
# Fortran compiled files
# =========================
*.o
*.obj
*.mod
*.smod

# =========================
# Executables
# =========================
*.exe
*.out
*.app

# =========================
# Libraries
# =========================
*.a
*.lib
*.so
*.dll
*.dylib

# =========================
# Build / debug files
# =========================
*.log
*.tmp
*.cache
*.dSYM/

# =========================
# Archives (do not version)
# =========================
*.rar
*.zip
*.tar
*.gz
*.7z

# =========================
# Visual Studio files
# =========================
.vs/
*.vcxproj*
*.sln
*.user
*.ipch

# =========================
# Intel oneAPI / compiler temp
# =========================
*.optrpt
*.pdb

# =========================
# OS / editor junk
# =========================
.DS_Store
Thumbs.db
